* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
}

.heading {
    margin-top: 50px;
    font-weight: 400;
    font-size: 22px;
}

hr {
    color: rgb(228, 228, 228);
    margin: 15px 0px 15px 0px;
}

.emptyspace {
    height: 40px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 4px;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 400;
    background: #fefefe;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

nav .logo {
    margin: 10px 15px;
}

nav .logo a {
    color: black;
    padding: 10px 20px;
}

nav .logo a:hover {
    background: #d3d1d1;
}

nav .logo a span {
    font-weight: 800;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
    list-style: none;
}

nav ul li {
    margin: auto 10px;
}

nav ul li a {
    padding: 10px 15px;
    color: black;
}

nav ul li a:hover {
    background: #d3d1d1;
}

main {
    width: 95%;
    margin: auto;
}

.cover {
    width: 100%;
}

.cover img {
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 4px;
    font-size: 25px;
}

.text-overlay h1 span {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px 18px;
}

.projectContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.projectContainer .imgContainer {
    width: 350px;
    margin: 5px;
}

.projectContainer .imgContainer img {
    width: 100%;
}

.project-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    background: black;
    color: white;
    padding: 5px 8px;
    /* text-align: center; */
    /* border-radius: 10px; */
    /* letter-spacing: 4px; */
    font-size: 18px;
}

.text {
    position: relative;
    bottom: 88.5%;
    left: 0%;
}

.text p {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    display: inline;
    padding: 10px;
}

.aboutText {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 23px;
}

.aboutContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.aboutCard {
    width: 350px;
    margin-bottom: 50px;
}

.aboutContainer .aboutCard img {
    width: 100%;
    filter: grayscale(0.7);
}

.aboutCard .info {
    margin: 15px 0px;
}

.aboutCard .info .aboutCardName {
    font-size: 24px;
    font-weight: 400;
}

.aboutCard .info .aboutCardPosition {
    font-size: 16px;
    font-weight: 450;
    color: gray;
    margin: 15px 0px;
}

.aboutCard button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.contactText {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
}

input {
    width: 100%;
    border: 1px solid #d3d1d1;
    padding: 7px;
    font-size: 17px;
    margin: 7px auto;
}

form button {
    background: black;
    color: white;
    font-size: 17px;
    padding: 7px 15px;
    border: 0;
    margin: 20px 0px 40px 0px;
    cursor: pointer;
}

form button:hover {
    background: #d3d1d1;
    color: black;
}

.lastimg {
    width: 100%;
}

.lastimg img {
    width: 100%;
}

footer {
    width: 100%;
    color: white;
    background: black;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: green;
}
