@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 4px;
    padding: 8px 15px;
    font-family: 'Roboto mono', monospace;
    font-size: 16px;
    font-weight: 370;
    background: #fefefe;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

nav .logo {
    margin: 10px 15px;
}

nav .logo a {
    color: black;
    padding: 10px 20px;
}

nav .logo a:hover {
    background: #d3d1d1;
}

nav .logo a span {
    font-weight: 800;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
    list-style: none;
}

nav ul li {
    margin: auto 10px;
}

nav ul li a {
    padding: 10px 15px;
    color: black;
}

nav ul li a:hover {
    background: #d3d1d1;
}

main {
    width: 100%;
}

.cover {
    width: 1350px;
    margin: auto;
}

.cover img {
    width: 1350px;
}